/* --- Global --- */

:root {
    box-sizing: border-box;
    font-size: 14px; /* 1em = 14px */
    --main-radius: 0.5em;
    --main-padding: 0.5em;
}

/* --- Normalize --- */ 

a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

/* --- Grid layout --- */ 

body {
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: 1fr, repeat(2, 0.5fr 4fr);
    grid-template-areas: 
    "header     header      header      nav"
    "edu-title  edu-title   exp-title   exp-title"
    "edu-prime  edu-details exp-prime   exp-details"
    "ass-title  ass-title   ass-title   int-title"
    "languages  web         transversal interests";
    max-height: 100vh;
    row-gap: 1em;
}
/**/
header {
    background: #a7ffeb;
    grid-area: header;
}
nav {
/*  background: #004d40; */
    grid-area: nav;
}
/**/
#edu-title {
    grid-area: edu-title;
}
#edu-prime {
    grid-area: edu-prime;
}
#edu-details {
    grid-area: edu-details;
}
/**/
#exp-title {
    grid-area: exp-title;
}
#exp-prime {
    grid-area: exp-prime;
}
#exp-details {
    grid-area: exp-details;
}
/**/
#ass-title {
    grid-area: ass-title;
}
#languages {
    grid-area: languages;
}
#web {
    grid-area: web;
}
#transversal {
    grid-area: transversal;
}
/**/
#int-title {
    grid-area: int-title;
}
#interests {
    grid-area: interests;
}
/**/

/* --- Styling --- */

html {
    font-family: 'philosopher', sans-serif;
}

header, nav, div {
    padding: 1em;
}

.prime{}

.details {}

#education, #experience {}

#assets {}

#interests {}