* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Adobe Garamond Pro'
}

html {
    display: grid;
    grid-template-columns: ;
}

header {}

nav {}

main {}

h2{}

.title {}

.details {}

#education, #experience {}

#assets {}

#interests {}